@import url('https://fonts.googleapis.com/css?family=Roboto|Suez+One');

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #2c2b27; /* темный, пыльный оттенок */
  font-family: Trebuchet MS, Helvetica;
  color: #c9c6b9; /* выцветший бежево-серый */
}

/* Шапка сайта */

header {
  width: 100%;
  padding: 10px 0.5% 0 0.5%;
  background: transparent;
  float: left;
  position: fixed;
  z-index: 10000;
}

header #logo {
  color: #cabf9d; /* грязноватый желтоватый */
  cursor: pointer;
  text-shadow: 1px 1px 3px #1e1d19;
}

header #logo span {
  font-size: 1.7em;
  line-height: 45px;
  margin-left: 40px;
  font-family: 'Suez One', serif;
  color: #c4b67f;
  text-shadow: 1px 1px 2px #211f17;
}

@media (min-width: 701px) {
  #logo {
    float: left;
    width: 30%;
    font-size: 1.1em;
  }

  #about {
    float: right;
    width: 67%;
  }
}

@media (max-width: 700px) {
  #logo {
    margin-top: 15px;
    width: 100%;
    font-size: 1.5em;
  }

  #about {
    float: left;
    width: 100%;
  }
}

#about {
  text-align: center;
  font-size: 1em;
  line-height: 40px;
  margin-bottom: 10px;
  color: #d0c7a7;
  text-shadow: 0 0 3px #1a1914;
}

#about > a {
  color: #d0c7a7;
}

#about > a:hover {
  color: #958952;
  text-decoration: underline;
}

#about > a:not(:last-child) {
  margin-right: 7%;
}

/* Стили для фиксированной шапки */

.fixed {
  z-index: 5000;
  background-color: #3f3b2f;
  border-bottom: 1px solid #83794d;
  box-shadow: inset 0 -1px 6px #0008;
}

header.fixed #logo {
  color: #a59c72;
  text-shadow: none;
}

.fixed #about a {
  color: #a59c72;
}

.fixed #about a:hover {
  color: #d6c78e;
}

/* Главный блок на сайте */

#top {
  width: 100%;
  background: linear-gradient(45deg, #4a3720, #a2540c);
  background-blend-mode: multiply;
  background-size: cover;
  text-align: center;
  color: #f5e8b7;
  text-shadow: 1px 1px 7px #291f0b;
}

@media (min-width: 1001px) {
  #top {
    font-size: 3em;
    height: 1000px;
  }
}

@media (max-width: 1000px) and (min-width: 651px) {
  #top {
    font-size: 2em;
    height: 600px;
  }
}

@media (max-width: 650px) {
  #top {
    font-size: 1.3em;
    padding-top: 50%;
    height: 500px;
  }
}

@media (max-width: 450px) {
  #top {
    font-size: 0.9em;
  }
}

#top h1 {
  padding-top: 20%;
  color: #efde95;
  text-shadow: 2px 2px 8px #3a2e0f;
}

#top h3 {
  color: #a79256;
  text-shadow: 1px 1px 5px #211a07;
}

/* Блок с возможностями */

#main {
  float: left;
  background-color: #4b4638;
  border-top: 2px solid #7f744f;
  color: #cdc7b2;
  font-size: 1.3em;
  box-shadow: inset 0 4px 15px #231f0a88;
}

@media (min-width: 1401px) {
  #main {
    padding: 100px 20%;
    width: 60%;
  }
}

@media (max-width: 1400px) {
  #main {
    padding: 100px 10%;
    width: 80%;
  }
}

@media (max-width: 700px) {
  #main div {
    width: 98% !important;
    margin-bottom: 20px;
  }
}

#main div {
  width: 48%;
  margin-right: 2%;
  float: left;
}

#main h2 {
  font-size: 3em;
  color: #d1c9a9;
  text-shadow: 1px 1px 5px #3d3617;
}

#main span {
  color: #907e58;
}

/* Блок с преимуществами */

#overview {
  float: left;
  background: conic-gradient(#5a3e16, #a56214);
  background-blend-mode: multiply;
  background-color: #363228;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
  width: 100%;
  text-align: center;
  color: #d6cda7;
  text-shadow: 0 1px 5px #1d180c;
}

#overview h2 {
  font-size: 4em;
  color: #f1d97d;
  text-shadow: 2px 2px 12px #4d3d0e;
}

#overview h4 {
  color: #cdc7b0;
  font-size: 1.5em;
}

@media (min-width: 561px) {
  #overview h2 {
    font-size: 4em;
  }
}

@media (max-width: 560px) {
  #overview h2 {
    font-size: 2em;
  }
}

#overview .img {
  float: left;
  width: 30%;
  margin-right: 5%;
  margin-top: 50px;
  background: rgba(85, 70, 45, 0.18);
  border-radius: 14px;
  box-shadow: 0 6px 24px #241f0e;
  padding: 8px;
}

#overview .img:nth-child(odd) {
  margin-left: 18%;
}

#overview img {
  background: #d1caae;
  padding: 5px;
  border: 1px solid #8a7a4c;
  float: left;
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
}

#overview span {
  float: left;
  width: 100%;
  font-size: 2em;
  margin-top: 10px;
  color: #b78b22;
  text-shadow: 0 0 7px #52430d;
}

@media (max-width: 700px) {
  #overview .img {
    width: 80% !important;
    margin-right: 0 !important;
    margin-left: 10% !important;
  }
}

/* Блок с контактами */
#contacts {
  width: 100%;
  float: left;
  padding-bottom: 40px;
  padding-top: 70px;
  border-top: 4px solid #8c866a;
  background: #494432;
  color: #cdc8af;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
  font-weight: lighter;
  color: #cfcaba;
  text-shadow: 0 0 2px #211f13;
}

#contacts h5 {
  font-size: 3em;
  color: #b4ad8e;
}

#form_input {
  margin-top: 15px;
  font-size: 1.1em;
}

@media (min-width: 1051px) {
  #form_input {
    width: 35%;
    margin-left: 38%;
  }
}

@media (max-width: 1050px) {
  #form_input {
    width: 90%;
    margin-left: 10%;
  }
}

#form_input label {
  color: #a59c69;
  cursor: pointer;
  font-size: 1.4em;
  font-family: 'Roboto Slab', serif;
}

#form_input label > span {
  color: #b46942;
}

#form_input input,
#form_input textarea {
  margin-bottom: 10px;
  width: 70%;
  padding: 10px 2%;
  border-radius: 7px;
  border: 2px solid #8e8863;
  font-size: 0.9em;
  color: #5e5738;
  background-color: #cdc8a8;
}

#form_input input:focus,
#form_input textarea:focus {
  border-color: #a08e55;
  background-color: #efedda;
}

.btn {
  float: left;
  border-radius: 5px;
  padding: 5px 9px;
  font-size: 1.2em;
  background-color: #9d5a2f;
  text-shadow: #3a2c19 0 0 2px;
  cursor: pointer;
  color: #f5e7c4;
  font-family: 'Roboto Slab', serif;
}

.btn:hover {
  background-color: #7e4624;
}

/* Вопросы и ответы */

#faq {
  background-color: #4b493d;
  border-top: 2px dashed #8e8c70;
  width: 100%;
  float: left;
  padding-top: 70px;
  padding-bottom: 70px;
  color: #c9c6b0;
}

@media (min-width: 801px) {
  #faq div {
    width: 25%;
    margin-left: 6%;
    float: left;
  }
}

@media (max-width: 800px) {
  #faq div {
    width: 80%;
    margin-left: 10%;
    float: left;
  }
}

#faq .title {
  font-weight: lighter;
  color: #a79f8a;
  margin-bottom: 20px;
  font-size: 2.2em;
}

#faq .heading {
  color: #8f8567;
  font-size: 1.3em;
  font-weight: bold;
}

#faq p {
  font-family: Arimo, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #6c684e;
  font-size: 0.95em;
  margin-bottom: 40px;
}

/* Комментарии */

#comments {
  display: inline-block;
  height: fit-content;
  margin-bottom: 20px;
  color: #b6b19b;
}

/* Таблицы */

table {
  border: 1px solid #7b7551;
  width: 513px;
  background-color: #474334;
  color: #c9c7a1;
  box-shadow: inset 0 0 6px #2e2c18;
}

/* границы ячеек первого ряда таблицы */
th {
  width: 200px;
  border: 1px solid #7b7551;
  background-color: #5f5a3a;
  color: #dbd8b8;
  padding: 8px 5px;
}

/* границы ячеек тела таблицы */
td {
  width: 200px;
  border: 1px solid #6a6644;
  background-color: #3e3a25;
  color: #cbc9a8;
  padding: 6px 5px;
}
